*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header nav nav nav"
    "hero hero hero hero"
    "hero hero hero hero"
    "hero hero hero hero"
    "hero hero hero hero"
    "main main . image"
    "main main . image"
    "main main . extra"
    "main main . extra"
    "banner banner banner banner"
    "banner banner banner banner";
}

header{
    background-color: black;
    color:white;
    grid-area: header;
}

nav {
    background-color: red;
    color:white;
    grid-area: nav;
}

.hero {
    background-color: lightblue;
    color:white;
    grid-area: hero;
}

main {
    background-color: darkblue;
    color:white;
    grid-area: main;
}

.image{
    background-color: lightgreen;
    grid-area: image;
}

.extra {
    background-color: green;
    grid-area: extra;
}

.banner {
    background-color: yellow;
    grid-area: banner;
}

@media screen and (max-width: 768px) {
    body{
        grid-template-areas: 
        "header header header header"
        "hero hero hero hero"
        "hero hero hero hero"
        "hero hero hero hero"
        "hero hero hero hero"
        "nav main main main"
        "nav main main main"
        "nav main main main"
        "nav main main main"
        "nav banner banner banner"
        "nav banner banner banner"
        "nav extra extra image"
        "nav extra extra image";
    }
}

@media screen and (max-width: 600px) {
    body{
        grid-template-areas: 
        "header"
        "nav"
        "hero"
        "hero"
        "hero"
        "main"
        "main"
        "main"
        "banner"
        "banner"
        "extra"
        "extra"
        "image"
        "image";
    }
}