*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.flex {
    display: flex;
    gap:10px
}
.flex-col {
    flex-direction: column;
}
body {
    justify-content: center;
}
.wrapper {
    flex-direction: column;
    align-items: stretch;
    width: 80vw;
}

.navfooter {
    padding: 10px 20px;
    justify-content: space-between;
    background-color: pink;
    align-items: center;
    flex-grow: 1;
}

.navfooter h1 {
    padding: 10px 5px 8px 5px;
    aspect-ratio: 2/1;
    border: 1px solid black;
    font-size: 1.5rem;
    text-transform: uppercase;
}

ul{
    list-style: none;
}
li>a {
    text-transform: uppercase;
    font-weight:bold;
    font-size: 1.2em;
    color: black;
}

header > section {
    flex-basis: 500px;
    background-color: aquamarine;
    padding: 5px 20px;
}

.hero {
    width: 100%;
    height: 100%;
    border: 1px solid black;
}
main {
    height:500px;
}
main :is(header, section, footer, aside){
    background-color: aquamarine;
}

main article {
    flex: 2 1;
}

article > header{
    flex-grow: 1;
}
article > section{
    flex-grow: 8;
}
article > footer{
    flex-grow: 1;
}

h2 {
    text-transform: uppercase;
}

article > :is(header, section, footer),
aside{
    padding: 5px 10px;
}

main aside {
    flex: 1 2;
    height: 50%;
}

.circle {
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: black;
}