/*variabili*/

@use "variables" as *;
@use "functions" as *;

/*codice*/

@mixin article($color, $border-color, $fontsize:1rem) {
    color:$color;
    border: pxtorem(1px) solid $border-color;
    font-size:$fontsize;
}

%header-style {
    color: $green;
    text-decoration:underline;
    text-decoration-color: $blue;
}

body > div {
    border: pxtorem(1px) solid $red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & :where(h1, h2){
        @extend %header-style;
    }

    & h2 {
        padding: 1rem;
        border: pxtorem(1px) solid $red;
    }

    & section {
        width: 98%;
        height: 75%;
        display: grid;
        padding: pxtorem(25px);
        grid-template-columns: repeat(auto-fit, minmax(pxtorem(400px), 1fr));
        
       & article {
            padding: pxtorem(20px);
            
            &:nth-child(odd){
                @include article($blue, $green)
                }
            &:nth-child(even){
                @include article($red, $green)
                }

            p {
                text-align: center;
            }
        }

        &:last-of-type{
            article {
                @include article($green, $blue, pxtorem(24px))
            }
        }
    }
    & section:nth-of-type(2){
        display: flex;
        justify-content: space-between;
        
        & div {
            width: pxtorem(45px);
            height: pxtorem(45px);
            border: pxtorem(1px) solid $red;
        }
        $font-sizes: 1rem, 2rem, 3rem;

        @each $var in $font-sizes {
            .fs-#{$var}{
                font-size: $var;
            }
        }
        
        @for $var from 1 to 20 {
            $red_rgb:calc(255*calc(1 - calc(calc($var - 1) / 18)));
            $blue_rgb:calc(255*calc(1 - calc(calc($var - 1) / 18)));
            $green_rgb:calc(255*calc(1 - calc(calc($var - 1) / 18)));
            $white_rgb: rgb($red_rgb, $blue_rgb, $green_rgb);
            @if ($var == 10){
                $white_rgb: blue;
            }
            & > div:nth-child(#{$var}){
                @if ($var != 10){
                    background-color: $white_rgb;
                    color: invert($white_rgb);
                } @else {
                    background-color: $blue;
                    color: $red;
                }
            }
        }
    }
}